* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
  background: url("assets/background.jpg") no-repeat center center/cover;
  color: #dcdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #0f0f1a;
}

.container {
  background-color: rgba(0, 0, 0, 0.55);
  padding: 2rem 3rem;
  border-radius: 10px;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  color: #b4d6f1;
}

.subtitle {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #dcdcdc;
}

.btn {
  padding: 0.75rem 1.5rem;
  background-color: #b1dcff;
  color: #000000;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  color: rgb(0, 0, 0); 
  background-color: rgb(255, 255, 255);
}
